<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}public/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/skeleton-overrides.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/styles.css">

  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">
    <div class="row heading">
      <div class="twelve columns">
        {% if page.url == "/" %}
          <h5 class="issue-number u-pull-left"><a href="{{ site.baseurl }}">Listenings</a></h5>
        {% else %}
          <h5 class="issue-number u-pull-left"><a href="{{ site.baseurl }}">&#8470; {% for post in site.posts reversed %}{% if post.title == page.title %}{{ forloop.index }}{% endif %}{% endfor %}</a></h5>
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="one column">&nbsp;</div>

      <div class="ten columns">
        {{ content }}
      </div>
    </div>

    <p class="copyright">&mdash; &copy; {{ site.time | date: '%Y' }}. All rights reserved. &mdash;</p>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34331224-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</body>
</html>
